<% content_for :extra_js do %>
	$('#mainSlider').slider(8000);
<% end %>
<div class="main-slider slider" id="mainSlider">
	<div class="slide-container">
		<div class="slide active bg-slide1" id="slide1">
			<div class="container">
				<h2>DIVERSIDAD</h2>
				<p class="max-x-400">
					Creemos que la vida es diversidad.<br>
					Apostamos a un mundo más abierto y tolerante, trabajando día a día para proponer un camino más simple. Realizamos estudios diagnósticos y terapéuticos en tratamientos de reproducción.
				</p>
				<a class="btn btn-default">VER MÁS</a>
			</div>
		</div>
	</div>
	<div class="slide-container">
		<div class="slide bg-slide2" id="slide2">
			<div class="container">
				<h2>MÁS DE 5000 PROCEDIMIENTOS</h2>
				<p>
					Trabajamos con el objetivo de brindar asistencia en temas de fertilidad.<br>
					Nuestra experiencia de más de 20 años en medicina y biología reproductiva (más de 5000 procedimientos de Reproducción Asistida de Alta y Baja Complejidad) permite orientar a las parejas en la aventura de buscar un hijo: desde el inicio, en el diagnóstico de la infertilidad, hasta el final, en el tratamiento, si es que éste fuera necesario.
				</p>
				<a class="btn btn-default">VER MÁS</a>
			</div>
		</div>
	</div>
	<div class="slide-container">
		<div class="slide bg-slide3" id="slide3">
			<div class="container">
				<h2>PRIMEROS PASOS</h2>
				<p>
					Te proponemos que sigas estas sencillas instrucciones para la entrega de muestras.<br>
					Nuestro anhelo es acompañar y compartir sentimientos, dudas, y preguntas en el camino de búsqueda de un hijo. En éste camino aparecen nuevos desafíos: estudios diagnósticos, tratamientos, un nuevo lenguaje, médicos y consultas.
				</p>
				<a class="btn btn-default">VER MÁS</a>
			</div>
		</div>
	</div>
	<div class="slider-indicators">
		<a href="#slide1" class="active"><span></span></a>
		<a href="#slide2"><span></span></a>
		<a href="#slide3"><span></span></a>
	</div>
	<div class="slider-footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-4">
					<div><i class="icon fecundation first"></i></div>
					<h4 class="space-NS-20">DÍAS Y HORARIOS DE ATENCIÓN SIN TURNO</h4>
					<p class="small">
						Martes de 8 a 16 hs, Miercoles de 10:30 a 19 hs<br>
						Jueves de 10:30 a 16 hs, Viernes de 10:30 a 16 hs
					</p>
				</div>
				<div class="col-xs-4">
					<div><i class="icon fecundation second"></i></div>
					<h4 class="space-NS-20">OTROS DÍAS/ HORARIOS CON TURNO</h4>
					<p class="small">
						Solicitar turno al 0221 4219364 o al 0221 15 4857016<br>
						o via mail labfertilidad@hotmail.com
					</p>
				</div>
				<div class="col-xs-4">
					<div><i class="icon fecundation third"></i></div>
					<h4 class="space-NS-20">PRÁCTICAS CON TURNO, EXTRACCIONES:</h4>
					<p class="small">
						Martes  8.30 a 10.30hs.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>