<div class="main-slider slider" id="mainSlider">
	<div class="slide-container">
		<div class="slide active bg-slide1" id="slide1">
			<div class="container">
				<div class="logo-diversidad">
					<img alt="Diversidad" src="<%= asset_path('logo-diversidad.png') %>">
					<h2>RESPETANDO LA DIVERSIDAD</h2>
					<h4>Porque el amor es un derecho de todos.</h4>
				</div>
				<p class="max-x-400">
					Apostamos a la diversidad. Trabajamos por un mundo más abierto y tolerante brindando asistencia en temas de fertilidad.
				</p>
			</div>
		</div>
	</div>
	<%= render 'schedules/schedule', schedule_class: 'slider-footer' %>
</div>