<!--section class="relative bg-mother-and-child team">
	<div class="container">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<h2>EQUIPO</h2>
				<div class="absolute bg-team">
					<div class="relative text-center row-for-3">
						<div class="col">
							<h4>Roxana Napolitano <sup>1</sup></h4>
							<p>Directora Técnica</p>
						</div>
						<div class="col">
							<h4>Walter Bozzo</h4>
							<p>Genética y Citogenética</p>
						</div>
						<div class="col">
							<h4>Lorena Ruiz</h4>
							<p>Técnica de Laboratorio</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="team-appendix">
	<p class="text-center">
		<small>
			<sup>1</sup> Bióloga; UNLP; MP BZ-128 &nbsp; Dra. en Cs. Naturales; UNLP &nbsp; Bacterióloga Clínica e Industrial; UNLP; MP 7243<br>
			Especialista en Embriología Clínica; Sociedad Argentina de Medicina Reproductiva (SAMeR)<br>
			Embryology Laboratory Director (ELD); American Board of Bioanalysis (ABB); USA
		</small>
	</p>
</section-->
<section class="equipo">
	<div class="container">
		<h2 class="text-uppercase">Equipo</h2>
		<h4>Roxana Napolitano <sup>*</sup></h4>
		<p>Directora Técnica</p>
		<h4>Walter Bozzo</h4>
		<p>Genética y Citogenética</p>
		<h4>Lorena Ruiz</h4>
		<p>Técnica de Laboratorio</p>
		<small>
			<sup>*</sup> Bióloga; UNLP; MP BZ-128 &nbsp; Dra. en Cs. Naturales; UNLP &nbsp; Bacterióloga Clínica e Industrial; UNLP; MP 7243<br>
			Especialista en Embriología Clínica; Sociedad Argentina de Medicina Reproductiva (SAMeR)<br>
			Embryology Laboratory Director (ELD); American Board of Bioanalysis (ABB); USA
		</small>
	</div>
</section>
