<div class="main-image bg-insemination">
	<div class="container">
		<h2>INSEMINACIÓN</h2>
		<p>Preparación de muestra para inseminación intrauterina.</p>
	</div>
</div>
<section>
	<div class="container">
		<h3 class="text-uppercase">PREPARACION DE MUESTRA PARA INSEMINACION INTRAUTERINA</h3>
		<p class="space-N-30 space-S-60">La inseminación intrauterina (IIU) es la primera línea de tratamiento en parejas en que la infertilidad se debe a problemas cervicales, disfunciones ovulatorias, endometriosis leves, factor tubario unilateral, y factores masculinos leves ó moderados. También se usa para el tratamiento de la esterilidad sin causa aparente.</p>
		<h3 class="text-uppercase">En qué consiste la inseminación intrauterina (IIU)?</h3>
		<p class="space-N-30 space-S-60">
			Consiste en la introducción de una suspensión de espermatozoides seleccionados en el interior del útero de la paciente justo en un momento cercano a la ovulación.<br>
			<br>
			Es decir que se hace coincidir en el tiempo ovulación e inseminación y, además se "puentean" vagina y cuello (a veces el moco del cuello del útero puede ser un obstáculo para la llegada de los espermatozoides al óvulo) del útero de modo de acercar espacialmente óvulos y espermatozoides.<br>
			<br>
			De éste modo se aumentan las posibilidades de "encuentro" entre ambas gametas.
		</p>
		<h3 class="text-uppercase">
			Procedimiento<br>
			1. Estimulación de la ovulación
		</h3>
		<p class="space-N-30 space-S-60">Consiste en estimular a los ovarios para que en ése ciclo desarrollen un número mayor de óvulos. Para ésto se emplea medicación: gonadotrofinas.</p>
		<h3 class="text-uppercase">2. Monitoreo del desarrollo folicular</h3>
		<p class="space-N-30 space-S-60">
			Los óvulos se desarrollan en los ovarios dentro de estructuras similares a globos que llamamos folículos. Los óvulos son de tamaño microscópico y por tanto no pueden verse ecográficamente, lo que sí podemos ver mediante ecografías son los folículos que los contienen. "Mirando" ecográficamente cómo va aumentando el tamaño de los folículos a medida que pasan los días del ciclo y gracias a la medicación usada, podremos conocer el desarrollo de los óvulos en los ovarios; podremos estimar su número y su grado de maduréz.<br>
			También se puede medir el nivel de estrógeno circulante, que está relacionado con el número y tamaño de los folículos.
		</p>
		<h3 class="text-uppercase">3. Programación de la fecha y hora de la inseminación</h3>
		<p class="space-N-30 space-S-60">
			Cuando uno o más folículos están maduros (más de 17 mm), se indica a la paciente la aplicación de una inyección de gonadotrofina coriónica (hCG) para acelerar la maduración y liberación de los óvulos del interior de los folículos.<br>
			La ovulación (liberación de los óvulos desde el interior de los folículos) ocurre a las 36 horas de la administración de hCG, por ésta razón, una vez indicadas fecha y hora de aplicación de hCG también quedarán definidas fecha y hora de la inseminación.
		</p>
		<h3 class="text-uppercase">
			4. Preparación de la muestra de espermatozoides<br>
			Proceso de selección de espermatozoides (lavado ó swim-up)
		</h3>
		<p class="space-N-30 space-S-60">
			Para seleccionar los espermatozoides que serán usados en una inseminación intrauterina (también en FIV e ICSI) usamos una suspensión de partículas muy concentrada que funciona como un tamíz ó colador fino y otra suspensión de partículas menos concentrada que funciona como tamíz ó colador grueso. Se colocan por ej 0,5 ml de la suspensión más concentrada en el fondo de un tubo de centrífuga y luego 0,5 ml de la suspensión más diluída: así se forman 2 capas ó dos “tamices” con distinto tamaño de poro (éstas capas no se mezclan). Sobre éstas dos capas se coloca el semen. El tubo se centrifuga con lo cual los espermatozoides son forzados a ir hacia el fondo del tubo debiendo atravesar 2 coladores ó tamices. Primero, atraviesan el colador grueso y allí ya quedan retenidos muchos espermatozoides y células, luego pasan por el colador fino en el cual quedan retenidos otros espermatozoides. Finalmente, los espermatozoides que lograron atravesar los dos filtros (coladores ó tamices) son los seleccionados para el tratamiento: los de mejor movilidad y morfología. Ver imagen.<br>
			<br>
			Los espermatozoides seleccionados se resuspenden en 0,5 – 0,7 ml de un medio de cultivo que contiene sales, glucosa, aminoácidos, albúmina, y antibióticos. Esta suspensión contiene comúnmente una concentración de espermatozoides mayor a la de la muestra original (ya que al partir de una muestra de 2 – 4 ml y resuspender los espermatozoides seleccionados en sólo 0,5 – 0,7 ml se aumenta la concentración de los mismos) y un % mucho mayor de espermatozoides móviles progresivos.<br>
			<br>
			Nota: éste método también se hace en forma diagnóstica. La calidad de la suspensión de espermatozoides seleccionados ayudará al médico a decidir el tratamiento adecuado para una pareja.
		</p>
		<h3 class="text-uppercase">5. Inseminación</h3>
		<p class="space-N-30 space-S-60">
			Consiste en colocar los espermatozoides seleccionados en la cavidad uterina, para ello se emplea un catéter en el cual se carga la suspensión de espermatozoides. Este procedimiento se realiza en el consultorio, es rápido e indoloro.
		</p>
		<h3 class="text-uppercase">6. Uso de progesterona y Test de embarazo</h3>
		<p class="space-N-30 space-S-60">
			A partir del momento de la inseminación se indica el uso de progesterona que actuará a nivel del endometrio (capita de tejido que reviste interiormente al útero) para favorecer la implantación del embrión.<br>
			La prueba de embarazo se realiza 12 - 15 días después de la inseminación.<br>
			<br>
			<br>
			<b><i>Martes de 8.00 a 16.00hs - miércoles de 10.30 a 19.00hs - jueves y viernes de 10.30 a 16.00hs, sin turno.<br>
			<br>
			Otros días/ horarios:</i></b> con turno al 0221-421 9364/ 0221-15-4857016o via email: labfertilidad@hotmail.com
		</p>
	</div>
</section>