<div class="main-image bg-institutional">
	<div class="container">
		<h2>INSTITUCIONAL</h2>
		<p>Somos un laboratorio de Análisis Clínicos especializado en fertilidad. Realizamos estudios diagnósticos y terapéuticos en tratamientos de Reproducción Asistida.Trabajamos con el objetivo de brindar asistencia especializada.</p>
	</div>
</div>
<section>
	<div class="container">
		<div class="row space-S-60">
			<div class="col-xs-4">
				<%= image_tag 'institutional1.jpg', class: 'cover' %>
			</div>
			<div class="col-xs-4">
				<%= image_tag 'institutional2.jpg', class: 'cover' %>
			</div>
			<div class="col-xs-4">
				<%= image_tag 'institutional3.jpg', class: 'cover' %>
			</div>
		</div>
		<h4 class="space-S-40">LABORATORIO DE FERTILIDAD</h4>
		<p class="space-S-40">
			Realizamos estudios diagnósticos y terapéuticos en tratamientos de Reproducción Asistida.<br>
			<br>
			Trabajamos con el objetivo de brindar asistencia en temas de fertilidad. Nuestra experiencia de más de 20 años en medicina y biología reproductiva (más de 5000 procedimientos de Reproducción Asistida de Alta y Baja Complejidad) permite orientar a las parejas en la aventura de buscar un hijo: desde el inicio, en el diagnóstico de la infertilidad, hasta el final, en el tratamiento, si es que éste fuera necesario.<br>
			<br>
			Nuestro anhelo es acompañar y compartir sentimientos, dudas, y preguntas en el camino de búsqueda de un hijo. En éste camino aparecen nuevos desafíos: estudios diagnósticos, tratamientos, un nuevo lenguaje, médicos y consultas.
		</p>
	</div>
</section>
<%= render 'team' %>