<div class="main-image bg-instructional">
	<div class="container">
		<h2>INSTRUCTIVOS</h2>
		<p>
			Para entrega de muestras / extracciones de sangre (cariotipos).<br>
			Los resultados podrán ser retirados personalmente ó recibidos por Email.
		</p>
	</div>
</div>
<section>
	<div class="container">
		<h3 class="text-uppercase">Espermogramas.Test de TUNEL.</h3>
		<h5 class="text-uppercase">Indicaciones para la toma de muestra y entrega al laboratorio.</h5>
		<p class="space-N-60">
			Mantener abstinencia sexual: 2 – 7 días<br>
			<br>
			Colectar el semen de una eyaculación en un envase de urocultivo (estéril ; se compra en la farmacia). <b><i>Evitar el uso de preservativo, lubricantes, ó cremas.</i></b><br>
			<br>
			<b><i>IMPORTANTE:</i></b> El envase debe tener una <b><i>etiqueta:</i></b> nombre del paciente / nombre de la pareja / médico solicitante / Nro. de días de abstinencia / hora de colección de la muestra / teléfono de contacto / e-mail.<b> <i>Aclarar si la muestra es para espermograma, para inseminación intrauterina (IIU), ó para congelar.</i></b> En caso de indicación de test de <b><i>TUNEL</i></b> es importante informar la <b><i>edad y antecedentes andrológicos como por ej varicocele.</i></b><br>
			<br>
			La muestra obtenida debe ser llevada al laboratorio a temperatura ambiente dentro de los 60 minutos posteriores a su obtención (debe ser protegida de temperaturas extremas en el camino al laboratorio).<br>
			<br>
			Espermograma $ 500/ OSDE/ VISA<br>
			Espermograma con Mar Test $ 800/ VISA<br>
			TUNEL $ 1800/ VISA
		</p>
	</div>
</section>
<section class="bg-grey">
	<div class="container">
		<h3 class="text-uppercase">Inseminación intrauterina.</h3>
		<h5 class="text-uppercase">Indicaciones para la toma de muestra y entrega al laboratorio</h5>
		<p class="space-N-60">
			El día de la inseminación intrauterina se deberá colectar el semen de una eyaculación en un envase de urocultivo (estéril ; se compra en la farmacia). <b><i>Evitar el uso de preservativo</i></b> (puede tener sustancias espermicidas)<br>
			<br>
			<b><i>IMPORTANTE:</i></b> El envase debe tener una <b><i>etiqueta: “Para inseminación intrauterina” ó “IIU”</i></b> (si no se informa esto, la muestra será procesada como espermograma) Nombre del paciente / nombre de la pareja / médico solicitante / teléfono de contacto; <b><i>Fecha y horario de la IIU.</i></b><br>
			<br>
			La muestra obtenida debe ser llevada al laboratorio a temperatura ambiente y dentro de los 60 minutos posteriores a su obtención (debe ser protegida de temperaturas extremas).<br>
			<br>
			Una vez que las muestras son recibidas y procesadas, los espermatozoides seleccionados se mantienen en perfectas condiciones durante horas ó inclusive días.<br>
			<br>
			$ 1800/ OSDE/ VISA
		</p>
	</div>
</section>
<section>
	<div class="container">
		<h3 class="text-uppercase">Cariotipos</h3>
		<p class="space-N-60">
			Ayuno de 2 - 3 horas, está permitida la ingestión de líquidos como café, té, mate, y jugos; evitar los lácteos.<br>
		</p>
	</div>
</section>
<%= render 'schedule', schedule_class: 'schedule', icons: false %>