<div class="main-image bg-services">
	<div class="container">
		<h2>SERVICIOS A TERCEROS</h2>
	</div>
</div>
<section>
	<div class="container">
		<h3 class="text-uppercase">SERVICIOS A TERCEROS</h3>
		<p class="space-N-30 space-S-60">
			Brindamos éste servicio de laboratorio a aquellos laboratorios e instituciones médicas que por baja demanda de determinadas prestaciones decidan la tercerización con nosotros.<br>
			<br>
			El laboratorio ofrece aranceles diferenciales en la tercerización de muestras, asesoramiento profesional, y la posibilidad de auditar el proceso analítico de sus muestras.
		</p>
	</div>
</section>
<section class="bg-grey services-images">
	<div class="container">
		<%= image_tag 'services-1.jpg' %>
	</div>
</section>
<%= render 'schedules/schedule', schedule_class: 'schedule', icons: false %>