<div class="main-image bg-spermogram">
	<div class="container">
		<h2>ESPERMOGRAMA</h2>
		<p>
			Espermograma basico, morfologia, y swim–up diagnostico/fragmentación del adn espermático: test de tunel + caspasa.
		</p>
	</div>
</div>
<section>
	<div class="container">
		<h3 class="text-uppercase">¿Para qué sirve?</h3>
		<p class="space-N-30 space-S-60">
			Básicamente permite observar cantidad, movilidad, y forma de los espermatozoides. Forma parte del conjunto de análisis iniciales en la evaluación de la pareja infértil.
		</p>
		<h3 class="text-uppercase">¿Por qué se mide el volumen?</h3>
		<p class="space-N-30 space-S-60">
			Es necesario cierto volumen mínimo para la formación del "lago seminal".<br>
			<br>
			Para la concepción natural in vivo, los espermatozoides deben ser depositados alrededor del orificio cervical externo formando el “lago seminal” durante el período peri-ovulatorio cuando el moco cervical está receptivo a la penetración de los espermatozoides. Para la formación de dicho “lago” es necesario que la muestra tenga un volumen adecuado.
		</p>
		<h3 class="text-uppercase">¿Por qué medimos la concentración de espermatozoides?</h3>
		<p class="space-N-30 space-S-60">
			Para que el embarazo pueda darse en forma espontánea se considera que debe existir un número mínimo de espermatozoides en el eyaculado. De todos modos, a pesar de los valores de referencia estipulados, la cantidad de espermatozoides necesaria para obtener un embarazo varía mucho y depende de cada pareja.<br>
			<br>
			Se ha acordado como valor de referencia 20 millones/ml de semen ó más (el límite inferior del valor de referencia sería 15 millones/ml, OMS 2010; Comité de Práctica de la Sociedad Americana de Medicina Reproductiva, Fertil Steril 2012) . Sin embargo la importancia del número de espermatozoides está sobreestimada; se ha demostrado en parejas con 6 meses de infertilidad que el 62% obtuvo embarazo en el plazo de un año cuando la cantidad de espermatozoides fue mayor ó igual a 5 millones por ml; también se ha probado paternidad en hombres vasectomizados sin espermatozoides detectables en el eyaculado.
		</p>
		<h3 class="text-uppercase">¿Por qué estudiamos la movilidad de los espermatozoides?</h3>
		<p class="space-N-30 space-S-60">
			La movilidad de los espermatozoides nos indica en primer lugar que se encuentran vivos; además aquellos que más rápido y más progresivamente se muevan tendrán mayores posibilidades de llegar al óvulo y fecundarlo.<br>
			<br>
			La buena movilidad está directamente relacionada con la capacidad fecundante.
		</p>
		<h3 class="text-uppercase">¿Por qué estudiamos la forma (morfología) de los espermatozoides?</h3>
		<p class="space-N-30 space-S-60">
			Se ha establecido una correlación positiva entre morfología espermática y capacidad de fecundación; esto no siempre es así. Vemos con frecuencia (por Fecundación In Vitro) como sémenes con bajos porcentajes de espermatozoides normales tienen excelentes tasas de fecundación, embarazo, y nacimiento de bebés sanos.
		</p>
		<h3 class="text-uppercase">Una muestra de semen normal y fértil contiene un % alto de espermatozoides morfológicamente “anormales”.</h3>
		<p class="space-N-30">
			La variabilidad de formas del espermatozoide humano hace difícil la evaluación de la morfología; a pesar de ello, la apariencia del espermatozoide normal se pudo definir a partir de la observación de espermatozoides recuperados desde el moco cervical o desde la superficie de la zona pelúcida del óvulo (Fredricsson & Bjork, 1977; Mortimer et. al., 1982; Menkveld et al., 1990; Liu & Baker, 1992).<br>
			<br>
			Un espermatozoide sin “defectos morfológicos” se considera morfológicamente “normal”; se ha sugerido que el término “normal” sea reemplazado por “típico”. Un espermatozoide típico ó “normal” tiene una cabeza ovalada y una cola que no está quebrada ni enrollada. Los espermatozoides “anormales” ó atípicos pueden tener cabezas grandes ó muy chicas, doble cabeza, múltiples colas, colas quebradas, etc. El significado de la existencia de espermatozoides con defectos en su morfología no está totalmente entendido.<br>
			<br>
			En la última edición (2010), la OMS, ha adoptado el 4% de formas normales como valor de corte en un eyaculado normal. Esto está basado en el trabajo científico de los doctores TF Kruger y R Menkeveld en el Hospital Tygerberg en Sudáfrica. La validez científica de éste sistema se basa en el hecho de que antes se había tomado como valor normal aquel que surgía del estudio de muestras de semen competentes; en cambio, el nuevo valor de corte surge de haber considerado las muestras de una población de hombres que dejaron embarazadas a sus parejas en menos de un año.<br>
			<br>
			A continuación se muestra una tabla con los límites inferiores de los valores de referencia aceptados publicada por el Comité de Práctica de la Sociedad Americana de Medicina Reproductiva, <b><i>Fertil Steril 2012.</i></b>
		</p>
	</div>
</section>
<section class="bg-grey">
	<div class="container">
		<%= image_tag 'spermogram-picture.png', class: 'spermogram-picture' %>
		<p>
			<b><i>
				Lower limits of the accepted reference values for semen analysis.<br>
				<br>
				On at least two occasions Reference value
			</i></b><br>
			Ejaculate volume 1.5 mL<br>
			pH 7.2<br>
			Sperm concentration 15 millions spermatozoa/mL<br>
			Total sperm number 39 millions spermatozoa/ejaculate<br>
			Percent motility 40%<br>
			Forward progression 32%<br>
			Normal morphology 4% normal<br>
			And<br>
			Sperm agglutination absent<br>
			Viscosity %2 cm thread post-liquefaction<br>
			<br>
			Note: Data taken from World Health Organization, 2010.<br>
			Practice Committee. Evaluation of the infertile male. Fertil Steril 2012
		</p>
	</div>
</section>
<section>
	<div class="container">
		<h3 class="text-uppercase">¿Por qué incluímos en el espermograma un swim-up diagnóstico (ó "lavado") diagnóstico?</h3>
		<p class="space-N-30 space-S-60">
			El swim-up ó "lavado" de la muestra de espermatozoides consiste en una suspensión de los "mejores" espermatozoides. La calidad de éste lavado orientará al médico en la elección del tratamiento a seguir por la pareja infértil.
		</p>
		<h3 class="text-uppercase">
			¿Cuándo estudiamos la fragmentación del ADN espermático?<br>
			¿Por qué no es un estudio de rutina?
		</h3>
		<p class="space-N-30">
			La fragmentación del ADN espermático hace referencia a lesiones en el material genético del espermatozoide (ADN). Existen varios métodos para medir los niveles de fragmentación del ADN espermático, el test de TUNEL es uno de ellos. Este estudio está indicado en hombres con varicocele, edad avanzada (>45 años), fumadores, fallas de fertilización, embriones de mala calidad, etc.<br>
			<br>
			La fragmentación del ADN espermático ha sido asociada con abortos espontáneos y fallas de implantación; estos datos aún se discuten, por ésta razón no se recomienda la indicación de éste análisis en el estudio inicial de la pareja infértil, en forma de rutina (Practice Committee of the American Society for Reproductive Medicine. FertilSteril, vol 98, No.2, August 2012; 294-301; Drobnis et al, 2015 Drobnis E Z., Johnson M H. Are we ready to incorporate sperm DNA-fragmentation testing into our male infertility work - up? A plea for more robust studies. RBMOnline 2015; 30:111-112).<br>
			<br>
			Se debe considerar además que los óvulos tienen capacidad para reparar el ADN fragmentado de los espermatozoides y que el método empleado para procesar el semen en los tratamientos de Reproducción Asistida (gradientes de densidad) reduce significativamente el % de fragmentación del ADN espermático.
		</p>
	</div>
</section>
<%= render 'schedule', schedule_class: 'schedule', icons: false, practices: false %>