<div class="main-image bg-images">
  <div class="container">
    <h2>IMAGENES</h2>
  </div>
</div>
<section>
  <div class="container">
  	<h1>Editing Image Gallery</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @image_gallery %> |
		<%= link_to 'Back', image_galleries_path %>
	</div>
</section>