<div class="main-image small bg-images">
  <div class="container">
    <h2>IMÁGENES</h2>
  </div>
</div>
<section>
  <div class="container">
    <ol class="breadcrumb">
      <li class="active">Inicio</li>
    </ol>
    <div class="row tight-10 space-NS-40 organize-S-20">
      <%= render @image_galleries %>
    </div>
  </div>
</section>
