<div class="main-image bg-instructional with-subtitle">
  <div class="container">
    <h2>INSTRUCTIVOS</h2>
    <p>
      Para entrega de muestras / extracciones de sangre (cariotipos).<br>
      Los resultados podrán ser retirados personalmente ó recibidos por Email.
    </p>
  </div>
</div>
<%= render @instructionals %>
<%= render 'schedules/schedule', schedule_class: 'schedule', icons: false %>