footer { background-color: #3f4145; color: #FFF; font-family: 'Oswald', sans-serif; font-weight: 300; padding-top: 30px; }
footer .brand { padding-top: 45px; }
footer .brand img { height: 55px; width: auto; }
footer nav.menu a { color: inherit; display: block; margin: 5px 0; }
footer nav.menu a.active, footer nav.menu a:active, footer nav.menu a:hover, footer nav.menu a:focus { font-weight: 400; text-decoration: none; }
footer nav.menu a:first-of-type { margin-top: 0; }
footer nav.menu a:last-of-type { margin-bottom: 0; }
footer div.contact { padding-top: 20px; font-size: 0.8em; }
footer div.contact>div.relative { padding-left: 50px; }
footer div.contact>div.relative>.absolute { left: 0; width: 40px; text-align: center; }
footer .footer-top { padding-bottom: 30px; }
footer .footer-bottom { position: relative; padding-top: 25px; }
footer .footer-bottom div.container>div:last-of-type { margin-top: 25px; }
footer .footer-bottom p>small { font-size: 0.6em; }
footer div.social { position: absolute; top: 0; margin-top: -50px; background-color: #2C2F31; padding: 12px 20px 30px; }
footer div.social>a { margin: 0 15px; }
footer img.logo-vertigo { height: 35px; width: auto; margin-left: 5px; }
footer img.footer-arrow-up { height: 50px; width: auto; }

@media(max-width: 767px) {
	footer { padding-top: 0; }
	footer .footer-top { padding-bottom: 80px; }
	footer .brand { padding: 30px 0; }
	footer nav.menu { margin-bottom: 15px; }
	footer div.contact>div.relative { padding-left: 30px; }
	footer div.contact>div.relative>.absolute { width: auto; }
	footer div.social { position: static; text-align: center; margin: -65px 0 0; }
	footer .footer-bottom .text-right { text-align: center; }
}