header { position: absolute; z-index: 1; width: 100%; border-bottom: 1px solid rgba(255, 255, 255, 0.5); color: #FFF; }
header .brand { position: absolute; left: 0; }
header .navigation { position: relative; padding-top: 25px; padding-left: 200px; height: 100px; }
header .brand img { height: 48px; width: auto; }
header nav.menu>a { display: inline-block; color: inherit; font-size: 14px; font-family: 'Oswald', sans-serif; padding: 0 18px 25px; position: relative; border-bottom: 3px solid transparent; }
header nav.menu { position: absolute; bottom: -2px; padding-left: 30px; }
header nav.menu>a.active, header nav.menu>a:hover, header nav.menu>a:focus, header nav.menu>a:active { border-bottom-color: #FFF; text-decoration: none; }
header nav.menu div.social { padding-left: 18px; float: right; }
header nav.menu div.social>a { margin: 0 10px; }