<header>
	<div class="container">
		<div class="navigation">
			<div class="brand"><a href="<%= root_path %>"><%= image_tag 'logo.png' %></a></div>
			<nav class="menu">
				<a class="active" href="javascript:void(0);">HOME</a>
				<a href="javascript:void(0);">INSTITUCIONAL</a>
				<a href="javascript:void(0);">INSTRUCTIVOS</a>
				<a href="javascript:void(0);">ESPERMOGRAMA</a>
				<a href="javascript:void(0);">INSEMINACION</a>
				<a href="javascript:void(0);">CONTACTO</a>
				<a href="javascript:void(0);">DESCARGAS</a>
				<div class="social">
					<a href="javascript:void(0);"><i class="icon social facebook"></i></a>
					<a href="javascript:void(0);"><i class="icon social twitter"></i></a>
					<a href="javascript:void(0);"><i class="icon social google"></i></a>
					<a href="javascript:void(0);"><i class="icon social instagram"></i></a>
				</div>
			</nav>
		</div>
	</div>
</header>